body{
background-color: black;
color: beige;
}

h1{
color: rgb(138, 4, 4);
}

h2{
color: blueviolet;
}

h3{ 
color:red
}


h4  {
color: green;
}

h5{
color: violet ;
} 


img{
width: 200px;
height: 100px;

}


